# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
logs/
*.log

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Prisma
prisma/.env
prisma/migrations/

# Database files
*.sqlite
*.db
*.db-wal
*.db-shm

# Build files
dist/
build/

# Debugging files
debug.log